<div class="an-breadcrumb">
	<div data-ng-repeat="state in $navigationState.currentState.path" 
		 data-ng-if="$navigationState.isDisplayed(state)" 
		 class="an-breadcrumb-item" data-ng-class="{ 'an-selected-element': $navigationState.isSelected(state) }">
		<span class="an-breadcrumb-item-wrapper">
			<span data-ng-click="$navigationState.selectAction(state)" data-ng-class="{ 'pointer': $navigationState.hasAction(state) }">
				{{$navigationState.getDisplayName(state)}}
			</span>
			<i data-ng-if="$navigationState.showCloseButton(state)" data-ng-click="$navigationState.closeAction(state)" class="fa fa-times"></i>
		</span>
	</div>
</div>
