<section id="clients" class="home-part two-part-section" data-ng-controller="ClientController">
	<div class="container">
		<h3 class="show-hide">
			<img class="section-logo" src="assets/img/featured-clients.png" alt="">
			Clients
		</h3>
		<h4 class="show-hide"></h4>
		<div class="slide-front">
			<div class="row">
				<div class="col-md-6 left" data-uk-scrollspy="{cls:'uk-animation-slide-left', delay: 600, repeat: true}">
					<h3 class="show-hide">
						<img class="section-logo" src="assets/img/featured-clients.png" alt="">
						Clients
            			</h3>
					<h4 class="show-hide"></h4>
					<p>
						La satisfaction du client est ma priorité. J'essaie toujours de dépasser les attentes du client lorsque c'est possible.
					</p>
					<button class="more first button-transparent">Voir tous</button>
				</div> <!-- col-md-6 end -->

				<div class="col-md-6 right" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', delay: 1000, repeat: true}">
					<button id="less"></button>
					<div data-ng-repeat="client in resume.clients" data-ng-if="resume.companies[client].logo" class="c-logo">
						<img class="gray-hover" data-ng-src="assets/img/clients/{{resume.companies[client].logo}}" alt="{{resume.companies[client].label}}">
					</div> <!-- c-logo end -->
             
					<div class="clearfix"></div>
					<button class="more second button-transparent">Show All</button>
				</div> <!-- col-md-6 end -->
			</div> <!-- row end -->
		</div> <!-- SLIDE-FRONT END -->
	</div> <!-- CONTAINER END -->
</section>