.experiences {
	
	@media screen and (max-width:320px) {
		img { max-width: 100px; max-height: 75px; }
	}
	@media screen and (max-width:640px) {
		img { max-width: 150px; max-height: 100px; }
	}
	@media screen and (min-width:641px) {
		img { max-width: 200px; max-height: 100px; }
	}	
}