<div id="testimonial-carosel" class="owl-carousel">
	<div data-ng-repeat="testimonial in testimonials">
		<p>{{ testimonial.label }}</p>
		<h5>
			<span>{{ testimonial.name }},</span>
			 {{ testimonial.role }}, 
			 {{ companies[testimonial.company].label || testimonial.company }}
			 <!-- FIXME image rendering is wrong 
			<img data-ng-if="companies[testimonial.company].logo" data-ng-src="assets/img/clients/{{companies[testimonial.company].logo}}" alt="{{companies[testimonial.company].label}}" width="46" height="46">
			<span data-ng-if="!companies[testimonial.company].logo">
			 {{ companies[testimonial.company].label || testimonial.company }}
			 </span>
			  -->
		</h5>
	</div>
</div>
