/*.projects {
	
	thead { display: none; }

	tr { cursor: pointer; }

	td[class*="-column"] { vertical-align: middle; }
	
	.company-column { text-align: center; }
	
	.date-column { white-space: nowrap; }
	
	.onsite { font-size: 150%; margin-right: 5px; }
	.onsite.fa-home { color: #3B0B17; }
	.onsite.fa-users { color: #08088A; }
	.role-column { text-transform: uppercase }

	@media screen and (max-width:640px) { 
		.company-logo {	max-width: 75px; }
		td[class*="-column"] { font-size: xx-small; }
		.date-column .length { display: none; }
		.skill-column { display: none; }
	}
		
	@media screen and (min-width:641px) { 
		.company-logo { max-width: 125px; }
		td[class*="-column"] { font-size: small; }
		.date-column .length { display: none; }
		.skill-column { display: table-cell; }
	}
	
}*/