<div class="projects">
	<div class="ui-collapsible-set ui-group-theme-a ui-corner-all">
		<div data-ng-repeat="project in projects" class="ui-collapsible ui-collapsible-inset ui-corner-all ui-collapsible-themed-content ui-collapsible-collapsed" 
		data-ng-click="project.expand = !project.expand">
			<h3 class="ui-collapsible-heading" data-ng-class="{ 'ui-collapsible-heading-collapsed' : !project.expand }">
				<div class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-a ui-mini" data-ng-class="project.expand ? 'ui-icon-minus': 'ui-icon-plus'">
					<div class="ui-grid-c ui-responsive">
					    <div class="ui-block-a">
					    	<div class="cell-grid">
								<span data-ng-if="project.client && project.client.logo">
									<img class="company-logo" data-ng-src="assets/images/{{project.client.logo}}" title="{{project.client.label}}" alt="{{project.client.label}}" />
								</span>
								<span data-ng-if="project.client && !project.client.logo" class="company-label">
									{{project.client.label}}
								</span>
								<span data-ng-if="!project.client && project.company[0] && project.company[0].logo">
									<img class="company-logo" data-ng-src="assets/images/{{project.company[0].logo}}" title="{{project.company[0].label}}" alt="{{project.company[0].label}}" />
								</span>
								<span data-ng-if="!project.client && project.company[0] && !project.company[0].logo" class="company-label">
									{{project.company[0].label}}
								</span>
							</div>
					    </div>
					    <div class="ui-block-b">
					    	<div class="cell-grid">
								<span data-ng-if="project.end == null">Depuis </span>
								{{project.start | date : 'MM/yyyy'}}
								<span data-ng-if="project.end != null && project.start != project.end">à {{project.end | date : 'MM/yyyy'}}</span>
					    	</div>
					    </div>
					    <div class="ui-block-c"><div class="cell-grid">{{project.role}}</div></div>
					</div>		
				</div>		
			</h3>
			<div class="ui-collapsible-content ui-body-a" data-ng-class="{ 'ui-collapsible-content-collapsed' : !project.expand }">
				<span data-ng-if="project.onsite === true" class="onsite fa fa-users" title="Régie"></span>
				<span data-ng-if="project.onsite === false" class="onsite fa fa-home" title="Forfait"></span>
				<ul class="ui-listview">
					<li class="ui-li-divider ui-bar-a ui-first-child">Contexte</li>
					<li class="ui-li-static ui-body-inherit ">{{project.goal}}</li>
					<li class="ui-li-divider ui-bar-a">Tâches</li>
					<li class="ui-li-static ui-body-inherit" data-ng-repeat="task in project.tasks">{{task}}</li>
					<li class="ui-li-divider ui-bar-a">Compétences</li>
					<li class="ui-li-static ui-body-inherit ui-last-child">
						<span data-ng-class="{ 'red' : $odd }" data-ng-repeat="skill in project.skills">{{skill.label}} </span>
					</li>
				</ul>
				<div>
					Employeur(s):
					<span data-ng-repeat="company in project.company">
						<span data-ng-if="company.logo">
							<img class="company-logo" data-ng-src="assets/images/{{company.logo}}" title="{{company.label}}" alt="{{company.label}}" />
						</span>
						<span data-ng-if="!company.logo" class="company-label">
							{{company.label}}
						</span>
					</span>
				</div>
				<div data-ng-if="project.contact" class="contact">
					Contact: {{project.contact.name}} - {{project.contact.role}} - {{project.contact.company}}
				</div>
			</div>
		</div>
	</div>
</div>
