.projects {
	
	div[class^="ui-grid-"] {  }
	
	div[class^="ui-block-"] { 
		display: table;
	}
	
	.cell-grid { 
		display: table-cell; 
		vertical-align: middle; 
		position: relative;
	}

	.cell-grid .no-wrap-cell { 
 		position: absolute;
 		margin-top:-5px;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.ui-block-a { text-align: center; }

	@media only screen and (min-width:1920px) { 
		div[class^="ui-block-"] { height: 50px; }
		
		.ui-block-a { width: 10% !important; }
		.ui-block-b { width: 7% !important; }
		.ui-block-c { width: 15% !important; }
		.ui-block-d { width: 40% !important; }
		.ui-block-e { width: 28% !important; }
		
		.company-logo { max-width: 125px; max-height: 45px; }
		.cell-grid { font-size: small; }
	}

	@media only screen and (min-width:1600px) and (max-width: 1919px) { 
		div[class^="ui-block-"] { height: 50px; }
		
		.ui-block-a { width: 15% !important; }
		.ui-block-b { width: 7% !important; }
		.ui-block-c { width: 15% !important; }
		.ui-block-d { width: 35% !important; }
		.ui-block-e { width: 28% !important; }
		
		.company-logo { max-width: 125px; max-height: 45px; }
		.cell-grid { font-size: small; }
	}

	@media only screen and (min-width:1366px) and (max-width: 1599px) { 
		div[class^="ui-block-"] { height: 50px; }
		
		.ui-block-a { width: 15% !important; }
		.ui-block-b { width: 10% !important; }
		.ui-block-c { width: 20% !important; }
		.ui-block-d { width: 55% !important; }
		.ui-block-e { display: none !important; }
		
		.company-logo { max-width: 125px; max-height: 45px; }
		.cell-grid { font-size: small; }
	}

	@media only screen and (min-width:1200px) and (max-width: 1365px) { 
		div[class^="ui-block-"] { height: 50px; }
		
		.ui-block-a { width: 15% !important; }
		.ui-block-b { width: 10% !important; }
		.ui-block-c { width: 20% !important; }
		.ui-block-d { width: 55% !important; }
		.ui-block-e { display: none !important; }
		
		.company-logo { max-width: 125px; max-height: 45px; }
		.cell-grid { font-size: small; }
	}

	@media only screen and (min-width:1024px) and (max-width: 1199px) { 
		div[class^="ui-block-"] { height: 50px; }
		
		.ui-block-a { width: 30% !important; }
		.ui-block-b { width: 20% !important; }
		.ui-block-c { width: 40% !important; }
		.ui-block-d { display: none !important; }
		.ui-block-e { display: none !important; }

		.company-logo { max-width: 125px; max-height: 45px; }
		.cell-grid { font-size: small; }
	}

	@media only screen and (min-width:768px) and (max-width: 1023px) { 
		div[class^="ui-block-"] { height: 50px; }
		
		.ui-block-a { width: 35% !important; }
		.ui-block-b { width: 20% !important; }
		.ui-block-c { width: 45% !important; }
		.ui-block-d { display: none !important; }
		.ui-block-e { display: none !important; }
		
		.cell-grid { font-size: small; }
		.company-logo { max-width: 125px; max-height: 45px; }
	}

	@media only screen and (min-width:640px) and (max-width: 767px) { 
		div[class^="ui-block-"] { height: 50px; }
		
		.ui-block-a { width: 30% !important; }
		.ui-block-b { width: 25% !important; }
		.ui-block-c { width: 45% !important; }
		.ui-block-d { display: none !important; }
		.ui-block-e { display: none !important; }
		
		.cell-grid { font-size: small; }
		.company-logo { max-width: 125px; max-height: 45px; }
		.company-label { font-size: x-small; }
	}

	@media screen and (max-width:639px) and (orientation:landscape) { 
		div[class^="ui-block-"] { height: 50px; }
		
		.ui-block-a { width: 25% !important; }
		.ui-block-b { width: 25% !important; }
		.ui-block-c { width: 50% !important; }
		.ui-block-d { display: none !important; }
		.ui-block-e { display: none !important; }
		
		.cell-grid { font-size: small; }
		.company-logo {	max-width: 75px; }
		.company-label { font-size: xx-small; }
	}

	@media screen and (max-width:639px) and (orientation:portrait) { 
		div[class^="ui-block-"] { height: 50px; }
		
		.ui-block-a { width: 40% !important; }
		.ui-block-b { display: none !important; }
		.ui-block-c { width: 60% !important; }
		.ui-block-d { display: none !important; }
		.ui-block-e { display: none !important; }
		
		.cell-grid { font-size: xx-small; }
		.company-logo {	max-width: 75px; }
	}
	
}