<div class="projects">
	<div data-ui-view></div>
	
<ul id="list" data-role="listmenu" data-jq-list-menu>
        <li>
            <div>
                Andrew Fuller</div>
            <ul data-role="listmenu">
                <li>
                    <div style="padding: 5px;" data-role="content">
                        <table>
                            <tr>
                                <td>
                                    <img width="50" height="50" src="../../images/andrew.png" alt="" />
                                </td>
                                <td>
                                    <b>Andrew Fuller</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Title
                                </td>
                                <td>
                                    Sales Representative
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div>
                Anne Dodsworth</div>
            <ul data-role="listmenu">
                <li>
                    <div style="padding: 5px;" data-role="content">
                        <table>
                            <tr>
                                <td>
                                    <img width="50" height="50" src="../../images/anne.png" alt="" />
                                </td>
                                <td>
                                    <b>Anne Dodsworth</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Title
                                </td>
                                <td>
                                    Inside Sales Coordinator
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div>
                Janet Leverling</div>
            <ul data-role="listmenu">
                <li>
                    <div style="padding: 5px;" data-role="content">
                        <table>
                            <tr>
                                <td>
                                    <img width="50" height="50" src="../../images/janet.png" alt="" />
                                </td>
                                <td>
                                    <b>Janet Leverling</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Title
                                </td>
                                <td>
                                    Sales Representative
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </li>
    </ul>	
	
	
	<ul id="testlist" data-role="listmenu" data-jq-list-menu>
		<li data-ng-repeat="project in projects">
			<div>
				<!-- <div class="company-column">
					<span data-ng-if="project.client && project.client.logo">
						<img class="company-logo" src="assets/images/{{project.client.logo}}" title="{{project.client.label}}" alt="{{project.client.label}}" />
					</span>
					<span data-ng-if="project.client && !project.client.logo" class="company-label">
						{{project.client.label}}
					</span>
					<span data-ng-if="!project.client && project.company.logo">
						<img class="company-logo" src="assets/images/{{project.company.logo}}" title="{{project.company.label}}" alt="{{project.company.label}}" />
					</span>
					<span data-ng-if="!project.client && !project.company.logo" class="company-label">
						{{project.company.label}}
					</span>
				</div> -->
				<div>{{project.role}}</div>
			</div>
 			<ul data-role="listmenu">
                <li>
                    <div style="padding: 5px;" data-role="content">
                        <table>
							<tr>
								<td class="date-column">
									<div class="dates">
										<span data-ng-if="project.end == null">Depuis </span>
										{{project.start | date : 'MM/yy'}}
										<span data-ng-if="project.end != null && project.start != project.end">à {{project.end | date : 'MM/yy'}}</span>
									</div>
									<div class="length">{{project.length}} mois</div>
								</td>
								<td class="goal-column">{{project.goal}}</td>
								<td class="skill-column"><span data-ng-repeat="skill in project.skills">{{skill.label}} </span></td>
							</tr>
                        </table>
                    </div>
                </li>
            </ul>			
        </li>	
	</ul>
	
 	<table style="display:none;" data-role="table" class="ui-responsive table-stroke" id="experience-table" data-column-btn-text="Colonnes" data-column-btn-theme="a">
	<thead>
		<tr>
			<th class="company-column">Entreprise</th>
			<th class="role-column">Rôle</th>
			<th class="date-column">Dates</th>
			<th class="goal-column">Contexte</th>
			<th class="skill-column">Compétences</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="project in projects" data-ui-sref="project.detail({ id: project.id })">
			<td class="company-column">
				<span data-ng-if="project.client && project.client.logo">
					<img class="company-logo" src="assets/images/{{project.client.logo}}" title="{{project.client.label}}" alt="{{project.client.label}}" />
				</span>
				<span data-ng-if="project.client && !project.client.logo" class="company-label">
					{{project.client.label}}
				</span>
				<span data-ng-if="!project.client && project.company.logo">
					<img class="company-logo" src="assets/images/{{project.company.logo}}" title="{{project.company.label}}" alt="{{project.company.label}}" />
				</span>
				<span data-ng-if="!project.client && !project.company.logo" class="company-label">
					{{project.company.label}}
				</span>
			</td>
			<td class="role-column">
				<span data-ng-if="project.onsite === true" class="onsite fa fa-users" title="Régie"></span>
				<span data-ng-if="project.onsite === false" class="onsite fa fa-home" title="Forfait"></span>
				{{project.role}}
			</td>
			<td class="date-column">
				<div class="dates">
					<span data-ng-if="project.end == null">Depuis </span>
					{{project.start | date : 'MM/yy'}}
					<span data-ng-if="project.end != null && project.start != project.end">à {{project.end | date : 'MM/yy'}}</span>
				</div>
				<div class="length">{{project.length}} mois</div>
			</td>
			<td class="goal-column">{{project.goal}}</td>
			<td class="skill-column"><span data-ng-repeat="skill in project.skills">{{skill.label}} </span></td>
		</tr>
	</tbody>
	</table>
</div>
<script type="text/javascript">
	$("#experience-table").table({ defaults: true });
</script>